<!-- picker/templates/plex_content/partials/_plex_content_search_form.html -->

{% load add_class %}

<div class="mb-8">
    <form id="search-form" method="get" action="{% url 'plex_content' %}" class="flex items-center space-x-4">
        <div class="flex-grow">
            {{ search_form.query|add_class:"w-full px-4 py-2 rounded-md bg-gray-800 text-white border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-gray-400" }}
        </div>
        <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">Search</button>
        <button type="button" id="reset-button" class="px-4 py-2 bg-gray-700 text-white rounded-md hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500">Reset</button>
    </form>
</div>
