<!-- picker/templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}My Movie Picker{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
    <!-- Header -->
        <header>
            <a href="{% url 'plex_content' %}">
                <h1>Movie Picker</h1>
            </a>
        <!-- Optional Navigation -->
            {% block nav %}
                <nav>
                    <a href="{% url 'plex_content' %}">Home</a>
                    <a href="{% url 'random_movie' %}">Random Movie</a>
                </nav>
            {% endblock %}
        </header>

    <!-- Main content -->
        <main>
            {% block content %}
        <!-- Default content if no block is defined -->
            {% endblock %}
        </main>

    <!-- Footer -->
        <footer>
            <p>&copy; 2024 Movie Picker. All rights reserved.</p>
        </footer>
        <script src="{% static 'js/modal.js' %}"></script>
        <script src="{% static 'js/spinner.js' %}"></script>
        {% block script %}{% endblock %}
    </body>
</html>