<!-- picker/templates/random_movie.html -->

{% extends "base.html" %}

{% block title %}PlexPicker{% endblock title %}
{% block content %}

    {% load add_class %}

    <div class="min-h-screen bg-gray-900 py-8">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <form id="movieFilterForm" method="get" action="{% url 'random_movie' %}" class="mb-8 bg-gray-800 p-6 rounded-lg shadow-lg">
                <div class="flex flex-wrap gap-4">
                    <div class="flex flex-col">
                        {{ form.genre.label_tag }}
                        {{ form.genre|add_class:"bg-gray-700 text-gray-200 placeholder-gray-400 border-gray-600 rounded-md focus:ring-blue-500 focus:border-blue-500" }}
                    </div>
                    <div class="flex flex-col">
                        {{ form.count.label_tag }}
                        {{ form.count|add_class:"bg-gray-700 text-gray-200 placeholder-gray-400 border-gray-600 rounded-md focus:ring-blue-500 focus:border-blue-500" }}
                    </div>
                    <div class="flex flex-col">
                        {{ form.min_rotten_tomatoes_rating.label_tag }}
                        {{ form.min_rotten_tomatoes_rating|add_class:"bg-gray-700 text-gray-200 placeholder-gray-400 border-gray-600 rounded-md focus:ring-blue-500 focus:border-blue-500" }}
                    </div>
                    <div class="flex flex-col">
                        {{ form.max_duration.label_tag }}
                        {{ form.max_duration|add_class:"bg-gray-700 text-gray-200 placeholder-gray-400 border-gray-600 rounded-md focus:ring-blue-500 focus:border-blue-500" }}
                    </div>
                    <div class="flex flex-col">
                        {{ form.min_year.label_tag }}
                        {{ form.min_year|add_class:"bg-gray-700 text-gray-200 placeholder-gray-400 border-gray-600 rounded-md focus:ring-blue-500 focus:border-blue-500" }}
                    </div>
                    <div class="flex flex-col">
                        {{ form.max_year.label_tag }}
                        {{ form.max_year|add_class:"bg-gray-700 text-gray-200 placeholder-gray-400 border-gray-600 rounded-md focus:ring-blue-500 focus:border-blue-500" }}
                    </div>
                </div>
                <input type="hidden" name="randomize" value="true">
                <input type="hidden" name="movies" value="{{ movie_ids }}">
                <div class="mt-4 flex gap-4">
                    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Pick Random Movies</button>
                    <button type="submit" name="reset" value="true" class="bg-gray-600 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Reset Filters</button>
                </div>
            </form>

            {% if movies %}
                {% for movie in movies %}
                    <div class="p-8">
                        {% include "partials/_media_header.html" with media=movie poster_link=True %}
                        {% include "partials/_rotten_tomatoes_rating.html" with media=movie %}
                    </div>
                {% endfor %}
            {% else %}
                <p class="text-white text-center">No movies found. Please adjust your filters and try again.</p>
            {% endif %}
        </div>
    </div>
    {% include "partials/_trailer_modal.html" %}
{% endblock content %}