<!-- picker/templates/random_movie/random_movie.html -->

{% extends "base.html" %}

{% block title %}PlexPicker{% endblock title %}
{% block content %}
    <div class="min-h-screen bg-gray-900 py-8">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            {% include "random_movie/partials/_random_movie_filter_form.html" %}
            {% if movies %}
                {% include "random_movie/partials/_random_movie_grid.html" %}
            {% else %}
                <p class="text-white text-center">No movies found. Please adjust your filters and try again.</p>
            {% endif %}
        </div>
    </div>
    {% include "partials/_trailer_modal.html" %}
{% endblock content %}