<!-- picker/templates/partials/_media_header.html -->

<div class="flex flex-col md:flex-row items-center md:items-start mb-8">
    {% if poster_link %}
        <a href="{% url 'movie_detail' media.id as movie_url %}{% url 'show_detail' media.id as show_url %}{% if media.type == 'movie' %}{{ movie_url }}{% else %}{{ show_url }}{% endif %}" class="block mt-2 w-2/6 md:w-1/4 mb-4 md:mb-0 md:mr-8">
            <picture>
                <source srcset="{{ media.optimized_poster.url }}" type="image/webp">
                <img data-src="{{ media.poster_url }}" alt="{{ media.title }} poster" class="lazyload w-full rounded-lg shadow-lg hover:opacity-80 transition-opacity duration-300" width="300" height="450"/>
            </picture>
        </a>
    {% else %}
        <span class="block mt-2 w-2/6 md:w-1/4 mb-4 md:mb-0 md:mr-8">
            <picture>
                <source srcset="{{ media.optimized_poster.url }}" type="image/webp">
                <img data-src="{{ media.poster_url }}" alt="{{ media.title }} poster" class="lazyload w-full rounded-lg shadow-lg" width="300" height="450"/>
            </picture>
        </span>
    {% endif %}
    <div class="text-center md:text-left">
        <h1 class="text-2xl md:text-4xl font-bold text-white mb-2">{{ media.title }}{% if media.year %} ({{ media.year }}){% endif %}</h1>
        <div class="flex flex-wrap justify-center md:justify-start space-x-4 mb-4">
            {% if media.content_rating %}
                <p><span class="bg-gray-700 text-white px-2 py-1 rounded-lg font-semibold">{{ media.content_rating }}</span></p>
            {% endif %}
            {% if media.formatted_duration %}
                <p><span class="text-gray-300">{{ media.formatted_duration }}</span></p>
            {% endif %}
            <p><span class="text-gray-300">{{ media.formatted_genres }}</span></p>
        </div>
        {% if media.trailer_url %}
            <a class="trailer-button bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded cursor-pointer" data-trailer-url="https://www.youtube.com/embed/{{ media.trailer_url|slice:'-11:' }}" data-movie-title="{{ media.title }}">Watch Trailer</a>
        {% endif %}
        <div class="mt-8">
            <h2 class="text-xl italic">{{ media.tagline }}</h2>
        </div>
    </div>
</div>